@import url("styles/reset.css");
@import url("styles/header.css");
@import url("styles/Inicio.css");
@import url("styles/about.css");
@import url("styles/skills.css");
@import url("styles/hobbies.css");
@import url("styles/educacion.css");



body{
    background-color: #EAF2FD;
    line-height: 1;
    font-family: "Raleway";
    color: #464646;
    overflow-x: hidden;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;


}
