.habilidades{
    display: flex;
    flex-wrap:  wrap;
    align-items: center;
    background-color: chocolate;
    margin: 10px;
    padding: 10px;
    width: 100%


        }
        .tituloCentrado{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;

        }

        .skillBox{
            background-color: #fff;
            width: 100%;
            border-radius: 10px;
            margin: 10px;
            padding: 20px;
            width: 300px;
            text-align: center;
            gap: 10px;
            }


.listado-skills{
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1,);
    margin 10px
    padding: 20px;
    width: 200px;
    text-align: center;
    
}

.logo-skill{
    height: 50px;
    width: 50px;
}
.nombre-skill{
    background-color: blue;
    margin-top: 1rem;
    display: flex;
    align-items: center; 
    font-weight: bold;
    font-size: large;

}