.habilidades{
    display: flex;
    flex-flow: row wrap;
    background-color: chocolate;
    margin: 10px;
    width: 100%;
    gap: 10px; 

        }
        .tituloCentrado{
            background-color: black;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
         
          

        }


.listado-skills{
    background-color: crimson;
    display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  width: 100%;
    gap: 25px;
}

.logo-skill{
    height: 100px;
    width: 100px;
}
.nombre-skill{
    margin-top: 1rem;
    display: flex;
    align-items: center; 
    font-weight: bold;
    font-size: large;

}